# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Node (if frontend is inside project)
../frontend/node_modules/
../frontend/build/
